// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$font-page-header: 30px;
$font-blog-title: 24px;
$font-title: 21px;
$font-title-sm: 18px;
$font-normal: 15px;
$font-small: 13px;
$font-badge: 12px;
$bold: bold;

$red: #cc0000;
$orange: #f18d00;
$green: #399d26;
$light-green: #f5f9f4;
$white: #fff;
$black: #29180c;

$theme-colors: (
  "white": $white,
);

$box-size: 470px;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 7.5)
), $spacers);
