// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.wrapper {
  padding: 0

}

section {
  max-width: 850px;
  margin: 2em auto;

}

// これをしないとFlex-endが効かない
.navbar-collapse {

  flex-grow: unset;
}

//.container {
//  width: 100%;
//  padding-right: 15px;
//  padding-left: 15px;
//  margin-right: auto;
//  margin-left: auto; }
//@media (min-width: 576px) {
//  .container {
//    max-width: 540px; } }
//@media (min-width: 768px) {
//  .container {
//    max-width: 900px; } }
//@media (min-width: 992px) {
//  .container {
//    max-width: 960px; } }
//@media (min-width: 1200px) {
//  .container {
//    max-width: 1140px; } }

@media (min-width: 768px) and (max-width: 992px) {

  .container {
    max-width: 900px;

    padding-right: 10px;
    padding-left: 10px;
  }

  li {
    font-size: 0.85em;
  }


}

@media (min-width: 768px) {

  .navbar-nav {

    > li + li {
      border-left: 1.5px solid purple;
    }

    .nav-link {
      padding: 0 0;
    }

    //>  li:before {
    //    content: '';
    //    position: absolute;
    //    //left: 50%;
    //    //top: -15px;/*線の上下位置*/
    //    display: inline-block;
    //    width: 60px;/*線の長さ*/
    //    height: 5px;/*線の太さ*/
    //    transform: translateX(-50%);/*位置調整*/
    //    background-color: blue;/*線の色*/
    //    border-radius: 2px;/*線の丸み*/
    //  }

  }

}

section > h2 {
  text-align: center;
  margin-bottom: 1em;
}

.work-domain {

  border: medium solid #efeb0c;
}

.about-card-left {

  padding-right: 0;
}

.about-card-right {
  padding-left: 0;
}

//

.card-title {
  margin-bottom: auto; //need to overwrite default
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card-title {
  // padding-top: 1.7em;
}

.about-card-text {

  font-size: medium;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: auto; //need to overwrite default
  display: flex;
  // justify-content: center;
  align-items: center;

}

.about-card-button {
  // margin-bottom: 1rem
}

.card-body {
  padding-top: $spacer * 0.5;
  padding-bottom: $spacer * 0.5;
}

.news_readmore_icon {
  text-align: right;
  align-self: right;
  align-items: right;
}

ul {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}

.footer-content {
  max-width: 1050px;
  margin: 2em auto;
  font-size: 0.85em;
}

.tb {
  background-color: #ff2dfa;
  //padding: #800e79;
  border: medium solid #00aced;
}
